@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

html, body{
  font-family: "Sora", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
}


:root{
  --color-purple: #b4a8d7;
  --color-green: #9EA54B;
  --color-light-green: #9da54baf;
  --color-dark-green:rgb(69, 76, 31)a;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.modal-window {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  
}

.my-modal {
  width: 30%;
  min-width: 350px;
  height: 400px;
  margin-left: 35%;
  margin-top: 12%;
  padding-top: 1px;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
} 

input[type=text], input[type=number], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.Gen-Button {
  /* width: 100px; */
  height: 40px;
  padding: 0px 16px;
  justify-content: center;
  align-items: center;
  background-color: var(--color-green);
  border-radius: 18px;
  margin: 5px 16px;
  border: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  color: #f9f9f9;
}

.Gen-Button a {
  color: #f9f9f9;
  text-decoration: none;
}

.Close-Button {
  padding: 0px 16px;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 18px;
  border: none;
}

.Log-Button{
  height: 80px;
  width: 150px;
  padding: 0px 16px;
  justify-content: center;
  align-items: center;
  background-color: var(--color-green);
  border-radius: 18px;
  margin-left: calc(50% - 75px);
  border: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  font-size: 20px;
  color: #f9f9f9;
}

.Log-Button a {
  color: #f9f9f9;
  text-decoration: none;
}

.button-inline-block {
  display: inline-block;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* --------------------- Navbar --------------------- */

.navbar {
  overflow: hidden;
  background-color: var(--color-green);
}

.navbar a {
  float: left;
  font-size: 20px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 20px;  
  border: none;
  outline: none;
  color: white;
  padding: 16px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: var(--color-dark-green);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.Nav-Btns{
  width: 30vw;
  float: left;
  padding: 10px 100px;
}

.Nav-Button {
  width: 120px;
  height: 100%;
  padding: 0px 20px;
  color: white;
  justify-content: center;
  align-items: center;
  background-color: var(--color-purple);
  margin: 5px 16px;
  border: none;
}

.SiteName {
  color: white;
  float: right;
  padding: 0px 35px;
}

.Nav-logo{
  width: 120px;
  float: right;
  padding: 14px 35px;
}

/* --------------------- Footer --------------------- */

.footer{
  width: 100%;
  overflow: hidden;
}

.foot-container{
  width: 100%;
  padding-left: 40%;
  color: var(--color-green);
  overflow: hidden;
}
.foot-container a {
  float: left;
  font-size: 20px;
  text-align: center;
  padding: 14px 16px;
}

/* --------------------- Home --------------------- */

.Home-wrapper{
  width: 100%;
  height: auto;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.Home-content{
  width: 100%;
  height: 700px;
  /* margin-left: 5%; */
  padding-left: 2%;
  padding-right: 2%;
}

.Home-sec{
  width: 20%;
  height: 60%;
  float: left;
  background-color: var(--color-light-green);
  padding: 40px 40px;
  margin-top: 80px;
  margin-left: 3.33%;
  margin-right: 3.33%;
  font-size: 40;
  color: rgb(245, 245, 245);
  border-radius: 5px;
}

.Section-icon{
  margin: 40px;
}

/* --------------------- Landing --------------------- */

.Landing-wrapper{
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: var(--color-green);
}

.Landing-logo{
  width: 11%;
  float: right;
  padding: 40px 50px;
}

.Landing-content{
  width: 100%;
  color: #f9f9f9;
  font-size: 26px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.Landing-plate{
  width: 32%;
  height: auto;
  margin-top: 14%;
  margin-left: 16%;
  margin-bottom: 18px;
  
}

.Landing-Button{
  height: 56px;
  width: 100px;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
  border-radius: 6px;
  margin-right: 420px;
  margin-top: 18px;
  border: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  font-size: 18px;
}

.Landing-Button a {
  color: #f9f9f9;
  text-decoration: none;
}

/* --------------------- Login --------------------- */

.Log-content{
  width: 100%;
  height: 100vh;
}

.Log-btn-container {
  width: 20%;
  margin-left: 40%;
  margin-top: 100px;
  color: #f9f9f9;
}

.Description{
  width: 30%;
  margin-left: 35%;
  margin-top: 200px;
  text-align: center;
  justify-content: center;
}

/* --------------------- Create --------------------- */

.CreateInput{
  margin: 5px 16px;
  font-size: 16px;
  /* height: 20px; */
}

.Create-Button{
  margin: 30px 16px;
  height: 38px;
  padding: 0px 16px;
  justify-content: center;
  align-items: center;
  background-color: var(--color-purple);
  font-size: 16px;
  color: white;
  border-radius: 18px;
  border: none;
}

/* --------------------- About --------------------- */

.Content{
  text-align: center;
  justify-content: center;
}

.team-header{
  height: auto;
  color: var(--color-green);
  font-size: 24px;
}

.section{
  width: 50%;
  height: auto;
  margin-left: 22%;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 20px 3%;
  justify-content: center;
  align-items: center;
  background-color: var(--color-green);
  border-radius: 8px;
  color: white;
  font-size: 20px;
}

.section-2{
  width: 80%;
  height: auto;
  float: left;
  position: relative;
  margin-left: 8%;
  margin-top: 10px;
  margin-bottom: 40px;
  padding: 30px 2%;
  justify-content: center;
  align-items: center;
  background-color: var(--color-green);
  border-radius: 8px;
  color: white;
}

.Member{
  width: 20%;
  height: auto;
  float: left;
  position: relative;
  margin-left: 4%;
}

/* --------------------- Profile --------------------- */

.Update-description{
  width: 500px;
  margin-left: calc(50% - 250px);
  margin-top: 100px;
  text-align: center;
  justify-content: center;
}

.Select-option {
  width: 30%;
}

.short-answer{
  width: 50%;
  padding-left: 24%;
}







/* --------------------- Misc --------------------- */

.center-page-title {
  width: 100%;
  text-align: center;
  justify-content: center;
}

.center {
  width: 100%;
  text-align: center;
  justify-content: center;
}

.gen-text {
  width: 100%;
  text-align: left;
  padding-left: 20px;
}

.w-75 {
  width: 75%;
}

.reservation-list {
  width: 100%;
  padding: 20px;
  padding-top: 0px;
}

/* --------------------- mint-and-create-sale --------------------- */
.mint-form {
  margin: 0 auto;
}